### 삼항연산자
- a if 조건식 else b
- 조건식이 true 라면 a 실행 false 라면 b 실행

In [1]:
score =80
"합격" if score >=60 else "불합격"

'합격'

In [2]:
a=int(input("정수입력 >> "))
b=int(input("정수입력 >> "))
'b:10' if b>a else 'a:10'
print("b:10") if b>a else print("a:10")
print(f'b:{b}') if a<b else print(f'a:{a}')

정수입력 >> 1
정수입력 >> 1
a:10
a:1

In [3]:
a,b =(int(input("정수입력 >> ")), int(input("정수입력 >> ")))
print(f"두수의 차 : {a-b}") if a>=b else print(f"두수의 차 : {b-a}")

정수입력 >> 1
정수입력 >> 2
두수의 차 : 1

In [4]:
a= int(input("정수입력 >> "))
print(f"{a}는(은) 홀수 입니다.") if a%2==1 else print(f"{a}는(은) 짝수 입니다.")

정수입력 >> 3
3는(은) 홀수 입니다.

In [5]:
num= int(input("정수입력 >> "))
result = "홀수" if a%2==1 else "짝수"
print(f"{num}는(은) {result}입니다.")

정수입력 >> 4
4는(은) 홀수입니다.

### 조건문
- if, elif, else
- if True:
    print("실행문장") <- true일 때만 실행
- if False: 
    print("실행문장") <- false일 땐 실행x

In [6]:
if False:
    print('실행문장실행')
print('if문 밖에 있는 문장 실행')

if문 밖에 있는 문장 실행

In [7]:
money=int(input("보유금 : "))
if money>=10000:
    print("택시를 탄다.")

보유금 : 124

In [8]:
if False:
    print("실행문장1")
else:
    print("실행문장2")
print("실행문장3")

실행문장2
실행문장3

In [9]:
money=int(input("보유금 : "))
if money>=10000:
    print("택시를 탄다.")
else:
    print("버스를 탄다.")

보유금 : 123
버스를 탄다.

In [10]:
num=int(input("정수입력 >> "))
if num%3==0 and num%5==0:
    print("3과 5의 배수입니다.")
else:
    print("3과 5의 배수가 아닙니다.")

정수입력 >> 123
3과 5의 배수가 아닙니다.

In [11]:
num1,num2=(int(input("정수입력 >> ")), int(input("정수입력 >> ")))
if num1==num2:
    print("두 수가 똑같습니다.")
elif num1>num2:
    print("첫 번째 정수가 더 큽니다.")
else:
    print("두 번째 정수가 더 큽니다.")

정수입력 >> 123
정수입력 >> 123
두 수가 똑같습니다.

In [12]:
score=int(input("점수입력 >> "))
if score<=100 and score>=90:
    print(f"{score}점은 A학점 입니다.")
elif score<90 and score>=80:
    print(f"{score}점은 B학점 입니다.")
elif score<80 and score>=70:
    print(f"{score}점은 C학점 입니다.")
elif score<70 and score>=60:
    print(f"{score}점은 D학점 입니다.")
else:
    print(f"{score}점은 F학점 입니다.")

점수입력 >> 124551
124551점은 F학점 입니다.

In [13]:
score=int(input("점수입력 >> "))
if score<=100 and score>=90:
    grade='A'
elif score<90 and score>=80:
    grade='B'
elif score<80 and score>=70:
    grade='C'
elif score<70 and score>=60:
    grade='D'
else:
    grade='F'
print(f'{score}점은 {score}학점 입니다.')

점수입력 >> 213
213점은 213학점 입니다.

In [14]:
coin=int(input("insert coin >> "))
menu=int(input("메뉴 선택 >> "))
out=0
cola, cider, water =600, 800, 1000

if menu==1:
    if coin<cola:
        print("잔액부족")
    else:
        out=coin-cola
elif menu==2:
    if coin<cider:
        print("잔액부족")
    else:
        out=coin-cider
elif menu==3:
    if coin<water:
        print("잔액부족")
    else:
        out=coin-water
else:
    print("메뉴 다시 입력")
    
print(f'''
================================================
================---- 자판기 ----================
================================================
== 1.콜라 == 2.사이다 ==  3.물  =======insert===
==--------==----------==--------=======------===
==   {cola}  ==    {cider}   ==  {water}  ======={coin}원===
=======================================------===
================================================
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==+++++++++++++++     SMHRD    +++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
================================================
================================================
  ===                                      ===
  ===                                      ===
''')

th=out//1000
hu=(out%1000)//500
te=(out%500)//100

print(f"잔돈 >> {out}")
print(f"잔돈 >> 1000원 {th}장, 500원 {hu}개, 100원 {te}개")

insert coin >> 124152
메뉴 선택 >> 1

================================================
================---- 자판기 ----================
================================================
== 1.콜라 == 2.사이다 ==  3.물  =======insert===
==--------==----------==--------=======------===
==   600  ==    800   ==  1000  =======124152원===
=======================================------===
================================================
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==+++++++++++++++     SMHRD    +++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
================================================
================================================
  ===                                      ===
  ===                                      ===

잔돈 >> 123552
잔돈 >> 1000원 123장, 500원 1개, 100원 0개

### 리스트
- 파이썬의 자료구조 형태 중 하나
- 순서가 있는 수정이 가능한 객체의 집합
- 추가, 수정, 삭제 가능!!

In [15]:
a=[]
b=[1,2,3]
c=['my', 'name']
d=[1,2,'my','name']
e=[1,2,['my'],['name']]
print(b)
print(c)
print(e)

[1, 2, 3]
['my', 'name']
[1, 2, ['my'], ['name']]

In [16]:
list1 = [1,2,3,5,8]
print(list1[0])
print(list1[2])

print(list1[2]+list1[0])

1
3
4

In [17]:
list2 = [1,2,3,['a','b','c']]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [18]:
temp =list2[3][1]
temp

'b'

In [19]:
list3=[0,1,2,3,4]
print(list3[0:2])
print(list3[:2])
print(list3[2:])

[0, 1]
[0, 1]
[2, 3, 4]

In [20]:
list4=[1,2,3]
list5=[4,5]
list4+list5

[1, 2, 3, 4, 5]

In [21]:
#append함수 활용한 값 추가(맨 뒤에 값이 추가된다.)
list6 = [0,1,2,3,4]
list6.append(5)
list6

[0, 1, 2, 3, 4, 5]

In [22]:
fruit=['사과', '포도', ['수박','멜론'], '복숭아', '딸기', '오렌지']
choice_list=[]
choice_list.append(fruit[0])
choice_list.append(fruit[5])
choice_list.append(fruit[2][0])

choice_list

['사과', '오렌지', '수박']

In [23]:
#insert(인덱스위치, 값) 함수 사용!
#인덱스 위치에 값 추가

In [24]:
list5=[0,1,2,3,4]
list5.insert(1,5)
print(list5)
list5.insert(5,6)
print(list5)

[0, 5, 1, 2, 3, 4]
[0, 5, 1, 2, 3, 6, 4]

In [25]:
loc=int(input("인덱스 위치 입력 >> "))
song = input("노래 제목 입력 >> ")
singer=input("가수 입력 >> ")
butter=['Butter','방탄']
heppen=['헤픈우연', '헤이즈']
lilac=['라일락', '아이유']

music_list=[butter, heppen, lilac]

music_list.insert(loc, [song, singer])
music_list

인덱스 위치 입력 >> 1
노래 제목 입력 >> butter
가수 입력 >> 방탄

[['Butter', '방탄'], ['butter', '방탄'], ['헤픈우연', '헤이즈'], ['라일락', '아이유']]

In [26]:
list6=[1,2,3,4,5]
print(list6[1])
list6[1]=99
print(list6[1])
list6

2
99

[1, 99, 3, 4, 5]

In [27]:
list6[3:5]=[7]
list6

[1, 99, 3, 7]

In [28]:
array=[1,2,3,4,5]
array[4]=7
array[1]=['a','b','c']
array[3:4]=['d','e','f','g']
array[0]=['h','i','j']
array

[['h', 'i', 'j'], ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g', 7]

In [29]:
list7=[0,1,2,3,4,5]
#del 키워드
del list7[1]
list7

[0, 2, 3, 4, 5]

In [30]:
del list7[1:4]
list7

[0, 5]

In [31]:
#remove() 함수 이용해서 값 삭제
list7=['a','b','c','d','e']
list7.remove('b')
list7

['a', 'c', 'd', 'e']

In [32]:
#정렬 
#sort 오름차순정렬되어 저장
#reverse 정렬 순서 거꾸로
#reverse는 booleaan 값으로 대입 가능
list8=[9,77,13,51,100,3]
print(list8)

list8.reverse()
print(list8)
list8.sort()
print(list8)
list8.reverse()
print(list8)

[9, 77, 13, 51, 100, 3]
[3, 100, 51, 13, 77, 9]
[3, 9, 13, 51, 77, 100]
[100, 77, 51, 13, 9, 3]

[100, 77, 51, 13, 9, 3]

In [33]:
#index() - 찾고자하는 값의 위치를 반환
list11=['a','b','c','d','e','f','c','c']
list11.index('c')

2

In [34]:
#count() - 찾고자 하는 값이 몇 번 들어있는지 반환
list11.count('c')

3

In [35]:
#pop() -마지막 값을 반환 후 삭제
list11.pop()
list11

['a', 'b', 'c', 'd', 'e', 'f', 'c']

In [36]:
#len(리스트) - 리스트 값 개수 반환
len(list11)

7